{#=====================================================
  Functions exclusive to Admin User(s)
  - Shows all requests form other users that isn't replied to yet
  - Allows the Admin(s) to access the requests and respond to them
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

   Admin Dashboard

{% endblock %}


{% block content %}
{% if session.user_id == 1 %}
    <header>
        <h2>Submit Response</h2>
    </header>
    {% for request in incomplete_requests %}
        <article>
            <h3><a href="{{ request.build_url }}">{{ request.builder }}'s Build</a> </h3>
            <p>
                {{ request.description }}
            </p>
            <p>
                <strong>{{ request.deadline }}</strong>
            </p>
            <a href="/respond/{{ request.id }}" role="button">Respond</a>
        </article>
    {% else %}
        No Requests Yet...
    {% endfor %}


{% else %}

    <h1>Oops!</h1>
    <p>
        <a href="/login">Login as <strong>Admin</strong></a> to access these functions...
    </p>

{% endif %}

{% endblock %}
    