{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

        Main Control Panel
        
{% endblock %}


{% block content %}
    
    <article>
      <a href="/request" role="button">Place a Request</a>
      <a href="/responses" role="button">Responses</a>
      <a href="/mods" role="button">Compatible Mods</a>
    </article>

    <h1>Recent Requests</h1>

     {% for prev_request in prev_requests %}
      <article>
        <h3>{{ prev_request.description }}</h3>     
          <p><a href="{{ prev_request.build_url }}">Click here to view build</a></p>
       </article>

    {% else %}
       <p>No Requests Yet</p>
    {% endfor %}

    {# <meta http-equiv="refresh" content="1" /> #}



{% endblock %}

