{#=====================================================
  Home page
  - Shows all the basic functions accessable by standard users
  - Shows a list of the logged in user's previous requests (most recent ==> least recent)

=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Main Control Panel
        
{% endblock %}


{% block content %}

{% if session.user_id %}
    
    <article>
      <a href="/request" role="button">Place a Request</a>
      <a href="/responses" role="button">Responses</a>
    </article>

    <h1>Recent Requests</h1>

     {% for prev_request in prev_requests %}
      <article>
        <h3>{{ prev_request.description }}</h3>     
          <p><a href="{{ prev_request.build_url }}">Click here to view build</a></p>
       </article>

    {% else %}
       <p>No Requests Yet</p>
    {% endfor %}

    {# <meta http-equiv="refresh" content="1" /> #}
{% else %}
    
{% endif %}


{% endblock %}

