{#=====================================================
  Previous Projects Page
  - Shows all requests with a resonse
  - Accessable by all user as well as users without an account
  - Helps new users understand what the website is about
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Previous Responses
        
{% endblock %}


{% block content %}

    <h1>Gallery</h1>

    {% for project in previous_projects %}
      <article>
        <h3><a href="{{ project.build_url }}">Build</a></h3>   
        <img src="{{ project.preview_img }}">  
        <p><a href="{{ project.response_url }}">Full Gallery</a></p>
      </article>

    {% else %}
       <h3>No Completed Projects Yet</h3>
    {% endfor %}

{% endblock %}

