{#=====================================================
  User Registration page
  - Form for adding a new user
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - New Request

{% endblock %}


{% block content %}
{% if session.user_id %}

    <article>

        <header>
            <h2>Place a New Request</h2>
        </header>

        <form action="/place-request" method="POST">

            <textarea 
                name="description" 
                placeholder="Description" 
                required
            ></textarea>             
            
            <input
                type="text"
                name="build_url"
                placeholder="Build URL"
                required
            >
            
            <select name="mods" id="mods">
                <option value="mod1">Mod 1</option>
                <option value="mod2">Mod 2</option>
                <option value="mod3">Mod 3</option>
                <option value="mod4">Mod 4</option>
            </select>

            <h5>Deadline</h5>
            <input
                type="date"
                name="deadline"
                placeholder="Deadline"
                required
            >

            <button>Place Request</button>
            <a href="/" role="button">Cancel</a>
            
        </form>
            

    </article>
{% else %}

    <h1>Oops!</h1>
    <p>
        <a href="/login">Login</a> to access these functions...
    </p>

{% endif %}

{% endblock %}
