{#=====================================================
  New Request Page
  - Used by logged in users to submit a screenshot request
  - Incudes a request form 
  - Shows a cooldown timer for users who have submitted a request within the last 10 days
  - Hides request form from users on cooldown
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    New Request

{% endblock %}


{% block content %}
    <article>

        <header>
            <h2>Place a New Request</h2>
        </header>

        {% if cooldown_days > 0 %}
            <!-- Show countdown timer -->

            <h3>You are still on cooldown...</h3>    
                
            <div id="timer"></div>

            <script>
                // Set the date we're counting down to
                var countDownDate = new Date("{{ cooldown_end }}");


                console.log("Last request", countDownDate)
    
                // Update the count down every 1 second
                var x = setInterval(function() {

                    // Get today's date and time
                    var now = new Date().getTime();

                    console.log("Now", now) 

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;

                    console.log("Dist", distance)

                    // Time calculations for days, hours, minutes and seconds
                    const msInDay = 1000 * 60 * 60 * 24;
                    const msInHour = 1000 * 60 * 60;
                    const msInMinute = 1000 * 60;
                    const msInSecond = 1000;

                    var days = Math.floor(distance / msInDay);
                    var hours = Math.floor((distance % msInDay) / msInHour);
                    var minutes = Math.floor((distance % msInHour) / msInMinute);
                    var seconds = Math.floor((distance % msInMinute) / msInSecond);

                    console.log(days, hours, minutes, seconds)

                    // Output the result in an element with id="demo"
                    document.getElementById("timer").innerHTML = days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s ";
                        
                    // If the count down is over, write some text 
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("timer").innerHTML = "EXPIRED";
                        // Reload the page to now show the form
                        window.location.href = "/request"
                    }
                }, 1000);
            </script>

        {% else %}
            <form action="/place-request" method="POST">

                <textarea 
                    name="description" 
                    placeholder="Description" 
                    required
                ></textarea>             
                
                <input
                    type="text"
                    name="build_url"
                    placeholder="Build URL"
                    required
                >
                
                <select name="mods" id="mods">
                    <option value="mod1">Ocean Mod</option>
                    <option value="mod2">Weather Mod</option>
                    <option value="mod3">Custom Map 1</option>
                    <option value="mod4">Custom Map 2</option>
                </select>

                <h5>Deadline</h5>
                <h6>Date</h6>
                <input
                    type="date"
                    name="deadline"
                    placeholder="Deadline"
                    required
                >

                <button>Place Request</button>
                <a href="/" role="button">Cancel</a>
                
            </form>

        {% endif %}    

    </article>

{% endblock %}
