{#=====================================================
  Responses page
  - Allows users to see and access their requests with responses
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

  Responses
        
{% endblock %}


{% block content %}

{% if session.user_id %}

    <h1>Responses</h1>

    {% for response in responses %}
      <article>
        <h3>{{ response.description }}</h3>     
        {% if response.response_url %} 
          <img src="{{ response.preview_img }}">  
          <p><a href="{{ response.response_url }}">Click here to view</a></p>
          <p>{{ response.notes }}</p>
        {% else %}
          <p>Pending...</p>  
        {% endif %}      
      </article>

    {% else %}
       <p>No Responses Yet</p>
       <p>Ask for updates <a href="https://simpleplanes.com/a/QuSVBJ/JBP-Aviations-Chatroom">here</a></p>
    {% endfor %}

{% else %}
    <h1>Oops!</h1>
    <p>
        <a href="/login">Login</a> to access these functions...
    </p>
{% endif %}

{% endblock %}

