{#=====================================================
  Welcome page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h4>Intro:</h4>
    <p>
        To all fellow builders:
        I wrote this because, believe it or not, I have a life. And in that life, I don't want to spend my precious hours screenshotting builds that look like they were slapped together during a loading screen. No offense—your build might be lovely—but I prefer working with stuff that's got a bit of thought, detail, and flair.
    </p>
    
    <h4>What You and Your Build Need to Qualify:</h4>  

    <ul>    
        <li>100+ parts (I'll let you slide with 95 if you're cool)</li>
        <li>Must actually run on PC</li>
        <li>You need 500+ points on SimplePlanes.com (Not because I hate newbies—I'm just not running a free fame-boosting factory)</li>
        <li>No meme builds . I beg you.</li>
        <li>No rule-breaking builds. Don't make me report you, snitch-style.</li>
        <li>Don't steal other users' unlisted posts (or any posts, really) it's against the rules.</li>
    </ul>

    <h4>Important Stuff You Should Know (and accept like a mature adult):</h4>

    <ul>
        <li>Always give credit . (no one forgot this yet but still...remember to remember)</li>
        <li>I can and will say no to a request if I'm not feeling it. I'll tell you why. Don't cry.</li>
        <li>Screenshots =/= instant internet stardom. If your post flops, that's not on me.</li>
        <li>10-day cooldown between requests.</li>
        <li>Exceptions may apply . Yes, I play favourites. No, that's not unfair—it's freedom.</li>
        <li>Use postimages.org . Can't access it? Suggest another free site. Don't make me Google stuff for you.</li>
        <li>I'm not glued to my PC. If I ghost you for a bit, chill. I'll get to it. Also, screenshots take time—this is art, not a vending machine.</li>
        <li>If you don't specify a custom map or mods, I'm using the standard maps without mods. No special requests = no special treatment .</li>
        <li>Don't abuse the free service . (Come on, don't be that guy)</li>
        <li>Comment 'Agree' before you give me the link to your post</li>

    </ul>
    <h5>Image Quality:</h5>
    <p>1920 x 1080 (1080P)</p>


{% endblock %}

