{#=====================================================
  User Page
  - Shows the user's account info 
  - Allows the user to delete their account
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    User Info
        
{% endblock %}


{% block content %}

    <h1>Your Info</h1>

    <article>
      <h3>  </h3>
      <p>
        No info
      </p>
    </article>

    <a href="/delete-user/{{ session.user_id }}" onclick="return confirm('Really delete?');">Delete my account</a>

{% endblock %}

