{#=====================================================
  Welcome page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>Welcome</h1>

    <p>Get started by logging in...</p>

    <a href="/login" role="button">Log In</a>
    <a href="/previous_projects/" role="button">Pevious Projects</a>
<article>
<sub>   
    <a href="/ToS">Terms of Service</a>
</sub>
</article>

{% endblock %}

