{#=====================================================
  Welcome page
  - Gives directions to new users on where to log in
  - Gives access to the Previous Projects Page
  - Gives access to the Terms of Service Page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Welcome

{% endblock %}


{% block content %}

    <h1>Welcome</h1>

    <p>Get started by logging in...</p>

    <a href="/login" role="button">Log In</a>
    <a href="/previous_projects/" role="button">Pevious Projects</a>
<article>
<sub>   
    <a href="/ToS">Terms of Service</a>
</sub>
</article>

{% endblock %}

